<div>
  <h2>Theme Mode</h2>
  <mat-button-toggle-group name="theme-mode" [(ngModel)]="lightTheme">
    <mat-button-toggle [value]="false">Dark</mat-button-toggle>
    <mat-button-toggle [value]="true">Light</mat-button-toggle>
  </mat-button-toggle-group>

  <div class="theme-mode-selector">
    <button mat-icon-button matTooltip="Dark Mode">
      <span class="material-symbols-outlined">dark_mode</span>
    </button>
    <button mat-icon-button matTooltip="System Mode">
      <span class="material-symbols-outlined">routine</span>
    </button>
    <button mat-icon-button matTooltip="Light Mode">
      <span class="material-symbols-outlined">light_mode</span>
    </button>
  </div>

  <mat-radio-group class="theme-mode-selector">
    @for (mode of themeModes; track mode) {
      <mat-radio-button>{{mode.label}}</mat-radio-button>
    }
  </mat-radio-group>

  <div>
    <span class="material-symbols-outlined">routine</span>
    <span class="material-symbols-outlined">wb_sunny</span>
    <span class="material-symbols-outlined">brightness_6</span>
    <span class="material-symbols-outlined">light_mode</span>
    <span class="material-symbols-outlined">sunny</span>
  </div>

</div>
