<div>
  <h4>Icons</h4>
  <mat-button-toggle-group name="theme-mode" [(ngModel)]="themeMode">
    <mat-button-toggle value="dark"><span class="material-symbols-outlined">dark_mode</span></mat-button-toggle>
    <mat-button-toggle value="auto"><span class="material-symbols-outlined">routine</span></mat-button-toggle>
    <mat-button-toggle value="light"><span class="material-symbols-outlined">light_mode</span></mat-button-toggle>
  </mat-button-toggle-group>

  <h4>Text</h4>
  <mat-button-toggle-group name="theme-mode" [(ngModel)]="lightTheme">
    <mat-button-toggle [value]="false">Dark</mat-button-toggle>
    <mat-button-toggle [value]="true">Light</mat-button-toggle>
  </mat-button-toggle-group>


  <h4>Icon options</h4>
  <div class="theme-mode-options">
    <span class="material-symbols-outlined">routine</span>
    <span class="material-symbols-outlined">wb_sunny</span>
    <span class="material-symbols-outlined">brightness_6</span>
    <span class="material-symbols-outlined">light_mode</span>
    <span class="material-symbols-outlined">sunny</span>
  </div>

</div>
