<div class="sidenav-header">
  <img [width]="profilePicSize()" [height]="profilePicSize()" src="profile-pic.jpg" />
  <div class="header-text" [class.hide-header-text]="sidenavCollapsed()">
    <h2>Your account</h2>
    <p>Jan Nielsen</p>
  </div>
  <mat-nav-list>
  @for (item of menuItems(); track item.label ) {
    <a mat-list-item
       [routerLink]="item.route"
       routerLinkActive
       #rla="routerLinkActive"
       [activated]="rla.isActive">
      <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>{{item.icon}}</mat-icon>
      @if (!sidenavCollapsed()) {
      <span matListItemLine class="nav-list-item-label">{{item.label}}</span>
      }
    </a>
  }
  </mat-nav-list>

</div>
