<div class="order-control" [class]="isSell ? 'theme-color-sell' : 'theme-color-buy'">
  <div class="side">
    <mat-button-toggle-group class="side-toggle" name="side" [(ngModel)]="isSell" hideSingleSelectionIndicator>
      <mat-button-toggle [value]="false">BUY</mat-button-toggle>
      <mat-button-toggle [value]="true">SELL</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="units full-width">
    <mat-label>Units</mat-label>
    <mat-slider
      [max]="unitsMax"
      [min]="unitsMin"
      [step]="unitsStep"
      discrete showTickMarks>
      <input matSliderThumb [(ngModel)]="units" #unitsSlider>
    </mat-slider>
  </div>

  <div class="price full-width">
    <mat-label>Price</mat-label>
    <mat-slider
      [max]="priceMax"
      [min]="priceMin"
      [step]="priceStep"
      discrete showTickMarks>
      <input matSliderThumb [(ngModel)]="price" #priceSlider class="price">
    </mat-slider>
  </div>

  <div class="submit">
    <button mat-flat-button class="full-width">Submit Order</button>
  </div>
</div>
